[Unit]
Description=Docker - nginx proxy container
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="NGINX_DOCKER=/home/tim/workspace/docker/proxy/"
ExecStart=/home/tim/workspace/docker/proxy/scripts/start.sh
ExecStop=/home/tim/workspace/docker/proxy/scripts/stop.sh

[Install]
WantedBy=default.target
				
